body {
	font-family: "Roboto", sans-serif;
}

.movable-container {
	display: flex;
	/*background: #211963;*/
	background: #06314c;
	margin: auto;
	align-items: center;
	justify-content: center;
	position: relative;
	border-radius: 50px;
	height: 600px;
	width: 320px;

	/*for iphone:*/
	/*background: black;*/
}

.calc-container {
	position: absolute;
	display: inline-flex;
	flex-wrap: wrap;
	align-content: space-around;
	justify-content: space-around;
	width: 300px;
	height: 500px;
}

.calc-container p {
	color: white;
	/*font-weight: bold;*/
	font-size: 20px;
}
